# Exercício 1: Carregando e analisando um DataSet

## Dados Estação Cuiabá 2003

In [113]:
import pandas as pd

# Carrega o arquivo csv

dataframe2003 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2003_A_31-12-2003.CSV', sep=';', encoding='ISO-8859-1')

# Exibe os primeiros registros do dataframe
dataframe2003.head()

,DATA,HORA (UTC),"PRECIPITAÇÃO TOTAL, HORÁRIO (MM)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2003,00:00,-9999,-9999,-9999,-9999,-9999,"24,3","23,3","24,7","24,3","23,4",-9999,94,92,94,-9999,-9999,-9999
1,01/01/2003,01:00,-9999,-9999,-9999,-9999,-9999,"24,7","23,3","24,7","24,3","23,4",-9999,94,92,92,-9999,-9999,-9999
2,01/01/2003,02:00,-9999,-9999,-9999,-9999,-9999,"24,4","23,2","24,7","24,4","23,4",-9999,93,91,93,-9999,-9999,-9999
3,01/01/2003,03:00,-9999,-9999,-9999,-9999,-9999,"24,1","23,2","24,9","24,1","23,5",-9999,95,92,95,-9999,-9999,-9999
4,01/01/2003,04:00,-9999,-9999,-9999,-9999,-9999,"24,5","23,4","24,6","24,1","23,5",-9999,95,93,94,-9999,-9999,-9999

## Dados Estação Cuiabá 2013

In [76]:
# Carregar o arquivo csv

dataframe2013 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2013_A_31-12-2013.CSV', sep=';', encoding='ISO-8859-1')

# Exibe os primeiros registros do dataframe
dataframe2013.head()

,DATA,HORA (UTC),"PRECIPITAÇO TOTAL, HORµRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2013,00:00,"0,4","983,5","983,5","982,1",-9999,"26,1","21,9","28,1","26,1",22,"20,7",78,64,78,145,"4,3","2,1"
1,01/01/2013,01:00,"1,2","983,9",984,"983,5",-9999,"24,7","22,7","26,1","24,5","22,9","22,2",89,78,89,184,4,"1,4"
2,01/01/2013,02:00,"0,4","984,4","984,5","983,9",-9999,"24,5","22,8","24,9","24,5","23,2","22,5",91,88,91,247,"3,7","1,6"
3,01/01/2013,03:00,0,"984,9",985,"984,4",-9999,"24,4","22,9","24,5","24,2","22,9","22,5",92,90,92,98,"3,5","1,9"
4,01/01/2013,04:00,0,"984,3","984,9","984,3",-9999,"24,4","22,9","24,4","24,2",23,"22,8",92,91,91,123,"3,5","1,2"

# Dados Estação Cuiabá 2023

In [77]:
# Carregar o arquivo csv

dataframe2023 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2023_A_31-12-2023.CSV', sep=';', encoding='ISO-8859-1')

# Exibe os primeiros registros do dataframe
dataframe2023.head()

,DATA,Hora UTC,"PRECIPITAÇO TOTAL, HORµRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2023,0000 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2023,0100 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2023,0200 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2023,0300 UTC,0,"990,5","990,5","990,4",NaN,"27,5","20,6","27,9","27,5","20,6","20,2",66.0,63.0,66.0,NaN,NaN,NaN
4,01/01/2023,0400 UTC,0,"990,2","990,5","990,2",NaN,"27,3","20,2","27,8","27,3","20,7","20,2",66.0,65.0,65.0,NaN,NaN,NaN

In [79]:
type(dados)

pandas.core.frame.DataFrame

In [9]:
dados.shape

(8768, 19)

# Exercício 2: Juntando os datasets
### 1.0

In [90]:
import pandas as pd

# Suponha que você tenha três DataFrames chamados dataframe2003, dataframe2013 e dataframe2023
# Substitua os nomes dos DataFrames pelos seus nomes reais

# Leia os arquivos CSV ou substitua pelo método adequado para carregar seus DataFrames
dataframe2003 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2003_A_31-12-2003.CSV', sep=';', encoding='ISO-8859-1', skiprows=7)
dataframe2013 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2013_A_31-12-2013.CSV', sep=';', encoding='ISO-8859-1', skiprows=7)
dataframe2023 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2023_A_31-12-2023.CSV', sep=';', encoding='ISO-8859-1', skiprows=8)

# Concatene os DataFrames ao longo do eixo das linhas
df_concat = pd.concat([dataframe2003, dataframe2013, dataframe2023])

# Visualize o DataFrame com MultiIndex no índice
print(df_concat)

      01/01/2003  06:00  -9999 -9999.1 -9999.2 -9999.3  -9999.4  24,8  23,6  \
0     01/01/2003  07:00  -9999   -9999   -9999   -9999  -9999.0  24,8  23,5
1     01/01/2003  08:00  -9999   -9999   -9999   -9999  -9999.0  24,5  23,2
2     01/01/2003  09:00  -9999   -9999   -9999   -9999  -9999.0  24,6  23,1
3     01/01/2003  10:00  -9999   -9999   -9999   -9999  -9999.0    25  23,6
4     01/01/2003  11:00  -9999   -9999   -9999   -9999  -9999.0  25,9  23,4
...          ...    ...    ...     ...     ...     ...      ...   ...   ...
8747         NaN    NaN    NaN     NaN     NaN     NaN      NaN   NaN   NaN
8748         NaN    NaN    NaN     NaN     NaN     NaN      NaN   NaN   NaN
8749         NaN    NaN    NaN     NaN     NaN     NaN      NaN   NaN   NaN
8750         NaN    NaN    NaN     NaN     NaN     NaN      NaN   NaN   NaN
8751         NaN    NaN    NaN     NaN     NaN     NaN      NaN   NaN   NaN

      24,9  ...  26,5  26,3 20,5.1  20,3    70    69  70.1 Unnamed: 16  \
0     24,8  ...   NaN   NaN    NaN   NaN   NaN   NaN   NaN         NaN
1     24,9  ...   NaN   NaN    NaN   NaN   NaN   NaN   NaN         NaN
2     24,8  ...   NaN   NaN    NaN   NaN   NaN   NaN   NaN         NaN
3       25  ...   NaN   NaN    NaN   NaN   NaN   NaN   NaN         NaN
4       26  ...   NaN   NaN    NaN   NaN   NaN   NaN   NaN         NaN
...    ...  ...   ...   ...    ...   ...   ...   ...   ...         ...
8747   NaN  ...  35,2  33,9   20,6  19,1  45.0  40.0  41.0       320.0
8748   NaN  ...    35  33,3   19,7  17,9  42.0  39.0  40.0       339.0
8749   NaN  ...  33,9  32,1     22    18  55.0  40.0  53.0       105.0
8750   NaN  ...  32,7  30,8   21,9  21,3  59.0  52.0  59.0        96.0
8751   NaN  ...   NaN   NaN    NaN   NaN   NaN   NaN   NaN         NaN

     Unnamed: 17 Unnamed: 18
0            NaN         NaN
1            NaN         NaN
2            NaN         NaN
3            NaN         NaN
4            NaN         NaN
...          ...         ...
8747         6,6           3
8748           7         3,4
8749           6           2
8750           4         1,5
8751         NaN         NaN

[26258 rows x 54 columns]

# Exercício 2: Juntando os datasets
### 2.0

In [94]:
import pandas as pd

# Suponha que df_concat seja o DataFrame resultante do código anterior

# Cria uma cópia explícita do DataFrame
df_concat_copy = df_concat.copy()

# Reordenar as colunas para ter os parâmetros agrupados
ordem_colunas = ['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)', 
                 'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)',
                 'RADIACAO GLOBAL (KJ/m²)',
                 'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)',
                 'UMIDADE RELATIVA DO AR, HORARIA (%)',
                 'VENTO, VELOCIDADE HORARIA (m/s)']

# Selecionar apenas as colunas que estão presentes no DataFrame
colunas_presentes = [coluna for coluna in ordem_colunas if coluna in df_reorganizado.columns.get_level_values(1)]
df_reorganizado = df_reorganizado.loc[:, colunas_presentes]

# Adicionar MultiIndex nas colunas
df_reorganizado.columns = pd.MultiIndex.from_product([['Mes', 'Dia'], df_reorganizado.columns.get_level_values(1)])

# Visualizar o DataFrame reorganizado com MultiIndex nas colunas
print(df_reorganizado)

Empty DataFrame
Columns: []
Index: [(2003, nan, nan), (2023, April, 1.0), (2023, April, 2.0), (2023, April, 3.0), (2023, April, 4.0), (2023, April, 5.0), (2023, April, 6.0), (2023, April, 7.0), (2023, April, 8.0), (2023, April, 9.0), (2023, April, 10.0), (2023, April, 11.0), (2023, April, 12.0), (2023, April, 13.0), (2023, April, 14.0), (2023, April, 15.0), (2023, April, 16.0), (2023, April, 17.0), (2023, April, 18.0), (2023, April, 19.0), (2023, April, 20.0), (2023, April, 21.0), (2023, April, 22.0), (2023, April, 23.0), (2023, April, 24.0), (2023, April, 25.0), (2023, April, 26.0), (2023, April, 27.0), (2023, April, 28.0), (2023, April, 29.0), (2023, April, 30.0), (2023, August, 1.0), (2023, August, 2.0), (2023, August, 3.0), (2023, August, 4.0), (2023, August, 5.0), (2023, August, 6.0), (2023, August, 7.0), (2023, August, 8.0), (2023, August, 9.0), (2023, August, 10.0), (2023, August, 11.0), (2023, August, 12.0), (2023, August, 13.0), (2023, August, 14.0), (2023, August, 15.0), (2023, August, 16.0), (2023, August, 17.0), (2023, August, 18.0), (2023, August, 19.0), (2023, August, 20.0), (2023, August, 21.0), (2023, August, 22.0), (2023, August, 23.0), (2023, August, 24.0), (2023, August, 25.0), (2023, August, 26.0), (2023, August, 27.0), (2023, August, 28.0), (2023, August, 29.0), (2023, August, 30.0), (2023, August, 31.0), (2023, December, 1.0), (2023, December, 2.0), (2023, December, 3.0), (2023, December, 4.0), (2023, December, 5.0), (2023, December, 6.0), (2023, December, 7.0), (2023, December, 8.0), (2023, December, 9.0), (2023, December, 10.0), (2023, December, 11.0), (2023, December, 12.0), (2023, December, 13.0), (2023, December, 14.0), (2023, December, 15.0), (2023, December, 16.0), (2023, December, 17.0), (2023, December, 18.0), (2023, December, 19.0), (2023, December, 20.0), (2023, December, 21.0), (2023, December, 22.0), (2023, December, 23.0), (2023, December, 24.0), (2023, December, 25.0), (2023, December, 26.0), (2023, December, 27.0), (2023, December, 28.0), (2023, December, 29.0), (2023, December, 30.0), (2023, December, 31.0), (2023, February, 1.0), (2023, February, 2.0), (2023, February, 3.0), (2023, February, 4.0), (2023, February, 5.0), (2023, February, 6.0), (2023, February, 7.0), ...]

[366 rows x 0 columns]