# Exercício 1: Carregando e analisando um DataSet

## Dados Estação Cuiabá 2003

In [82]:
import pandas as pd

# Carrega o arquivo csv

dataframe2003 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2003_A_31-12-2003.CSV', sep=';', encoding='ISO-8859-1')

# Exibe os primeiros registros do dataframe
dataframe2003.head()
#dataframe2003

,DATA,HORA (UTC),"PRECIPITAÇÃO TOTAL, HORÁRIO (MM)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2003,00:00,-9999,-9999,-9999,-9999,-9999,"24,3","23,3","24,7","24,3","23,4",-9999,94,92,94,-9999,-9999,-9999
1,01/01/2003,01:00,-9999,-9999,-9999,-9999,-9999,"24,7","23,3","24,7","24,3","23,4",-9999,94,92,92,-9999,-9999,-9999
2,01/01/2003,02:00,-9999,-9999,-9999,-9999,-9999,"24,4","23,2","24,7","24,4","23,4",-9999,93,91,93,-9999,-9999,-9999
3,01/01/2003,03:00,-9999,-9999,-9999,-9999,-9999,"24,1","23,2","24,9","24,1","23,5",-9999,95,92,95,-9999,-9999,-9999
4,01/01/2003,04:00,-9999,-9999,-9999,-9999,-9999,"24,5","23,4","24,6","24,1","23,5",-9999,95,93,94,-9999,-9999,-9999

## Dados Estação Cuiabá 2013

In [83]:
# Carregar o arquivo csv

dataframe2013 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2013_A_31-12-2013.CSV', sep=';', encoding='ISO-8859-1')

# Exibe os primeiros registros do dataframe
dataframe2013.head()

,DATA,HORA (UTC),"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2013,00:00,"0,4","983,5","983,5","982,1",-9999,"26,1","21,9","28,1","26,1",22,"20,7",78,64,78,145,"4,3","2,1"
1,01/01/2013,01:00,"1,2","983,9",984,"983,5",-9999,"24,7","22,7","26,1","24,5","22,9","22,2",89,78,89,184,4,"1,4"
2,01/01/2013,02:00,"0,4","984,4","984,5","983,9",-9999,"24,5","22,8","24,9","24,5","23,2","22,5",91,88,91,247,"3,7","1,6"
3,01/01/2013,03:00,0,"984,9",985,"984,4",-9999,"24,4","22,9","24,5","24,2","22,9","22,5",92,90,92,98,"3,5","1,9"
4,01/01/2013,04:00,0,"984,3","984,9","984,3",-9999,"24,4","22,9","24,4","24,2",23,"22,8",92,91,91,123,"3,5","1,2"

# Dados Estação Cuiabá 2023

In [84]:
# Carregar o arquivo csv

dataframe2023 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2023_A_31-12-2023.CSV', sep=';', encoding='ISO-8859-1')

# Exibe os primeiros registros do dataframe
dataframe2023.head()

,DATA,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2023,0000 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2023,0100 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2023,0200 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2023,0300 UTC,0,"990,5","990,5","990,4",NaN,"27,5","20,6","27,9","27,5","20,6","20,2",66.0,63.0,66.0,NaN,NaN,NaN
4,01/01/2023,0400 UTC,0,"990,2","990,5","990,2",NaN,"27,3","20,2","27,8","27,3","20,7","20,2",66.0,65.0,65.0,NaN,NaN,NaN

In [85]:
type(dataframe2003)

pandas.core.frame.DataFrame

In [86]:
dataframe2003.shape

(8760, 19)

In [87]:
#Renomeando coluna do datasets
dataframe2023.rename(columns={'Hora UTC':'HORA (UTC)', 'RADIACAO GLOBAL (Kj/mý)': 'RADIACAO GLOBAL (KJ/mý)'}, inplace=True)
dataframe2003.rename(columns={'PRECIPITAÇÃO TOTAL, HORÁRIO (MM)': 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'},inplace=True)
#print(dataframe2023.columns.values)

In [88]:
#Convertendo coluna DATA para datetime
dataframe2003['DATA'] = pd.to_datetime(dataframe2003['DATA'], format='%d/%m/%Y', errors='coerce').dt.strftime('%Y/%m/%d')
dataframe2013['DATA'] = pd.to_datetime(dataframe2013['DATA'], format='%d/%m/%Y', errors='coerce').dt.strftime('%Y/%m/%d')
dataframe2023['DATA'] = pd.to_datetime(dataframe2023['DATA'], format='%d/%m/%Y', errors='coerce').dt.strftime('%Y/%m/%d')

In [89]:
df_concat = pd.concat([dataframe2003, dataframe2013, dataframe2023])
df_concat['DATA'] = pd.to_datetime(df_concat['DATA'])  
df_concat['Ano'] = df_concat['DATA'].dt.year
df_concat['Mês'] = df_concat['DATA'].dt.month
df_concat['Dia'] = df_concat['DATA'].dt.day

multiIndex = pd.MultiIndex.from_frame(df_concat[['Ano', 'Mês', 'Dia']])

df_concat.set_index(multiIndex, inplace=True)
df_concat.drop('DATA', axis=1, inplace=True)
df_concat = df_concat.iloc[:, :-3]

df_concat

             HORA (UTC) PRECIPITAÇÃO TOTAL, HORÁRIO (mm)  \
Ano  Mês Dia
2003 1   1        00:00                            -9999
         1        01:00                            -9999
         1        02:00                            -9999
         1        03:00                            -9999
         1        04:00                            -9999
...                 ...                              ...
2023 12  31    1900 UTC                                0
         31    2000 UTC                                0
         31    2100 UTC                                0
         31    2200 UTC                                0
         31    2300 UTC                              NaN

             PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  \
Ano  Mês Dia
2003 1   1                                                -9999
         1                                                -9999
         1                                                -9999
         1                                                -9999
         1                                                -9999
...                                                         ...
2023 12  31                                               987,4
         31                                               986,7
         31                                               986,8
         31                                               986,9
         31                                                 NaN

             PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)  \
Ano  Mês Dia
2003 1   1                                             -9999
         1                                             -9999
         1                                             -9999
         1                                             -9999
         1                                             -9999
...                                                      ...
2023 12  31                                            988,8
         31                                            987,4
         31                                            986,8
         31                                              987
         31                                              NaN

             PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)  \
Ano  Mês Dia
2003 1   1                                              -9999
         1                                              -9999
         1                                              -9999
         1                                              -9999
         1                                              -9999
...                                                       ...
2023 12  31                                             987,4
         31                                             986,7
         31                                             986,6
         31                                             986,8
         31                                               NaN

             RADIACAO GLOBAL (KJ/mý)  \
Ano  Mês Dia
2003 1   1                     -9999
         1                     -9999
         1                     -9999
         1                     -9999
         1                     -9999
...                              ...
2023 12  31                   2575,3
         31                   1760,8
         31                   1127,5
         31                    490,1
         31                      NaN

             TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)  \
Ano  Mês Dia
2003 1   1                                           24,3
         1                                           24,7
         1                                           24,4
         1                                           24,1
         1                                           24,5
...                                                   ...
2023 12  31                                          34,4
         31                                          33,4
         31                                          32,5
         31                                          30,8
         31                                           NaN

             TEMPERATURA DO PONTO DE ORVALHO (øC)  \
Ano  Mês Dia
2003 1   1                                   23,3
         1                                   23,3
         1                                   23,2
         1                                   23,2
         1                                   23,4
...                                           ...
2023 12  31                                  19,4
         31                                    18
         31                                  21,8
         31                                  21,8
         31                                   NaN

             TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC)  \
Ano  Mês Dia
2003 1   1                                         24,7
         1                                         24,7
         1                                         24,7
         1                                         24,9
         1                                         24,6
...                                                 ...
2023 12  31                                        35,2
         31                                          35
         31                                        33,9
         31                                        32,7
         31                                         NaN

             TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC)  \
Ano  Mês Dia
2003 1   1                                         24,3
         1                                         24,3
         1                                         24,4
         1                                         24,1
         1                                         24,1
...                                                 ...
2023 12  31                                        33,9
         31                                        33,3
         31                                        32,1
         31                                        30,8
         31                                         NaN

             TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC)  \
Ano  Mês Dia
2003 1   1                                               23,4
         1                                               23,4
         1                                               23,4
         1                                               23,5
         1                                               23,5
...                                                       ...
2023 12  31                                              20,6
         31                                              19,7
         31                                                22
         31                                              21,9
         31                                               NaN

             TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC)  \
Ano  Mês Dia
2003 1   1                                              -9999
         1                                              -9999
         1                                              -9999
         1                                              -9999
         1                                              -9999
...                                                       ...
2023 12  31                                              19,1
         31                                              17,9
         31                                                18
         31                                              21,3
         31                                               NaN

              UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)  \
Ano  Mês Dia
2003 1   1                                        94.0
         1                                        94.0
         1                                        93.0
         1                                        95.0
         1                                        95.0
...                                                ...
2023 12  31                                       45.0
         31                                       42.0
         31                                       55.0
         31                                       59.0
         31                                        NaN

              UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)  \
Ano  Mês Dia
2003 1   1                                        92.0
         1                                        92.0
         1                                        91.0
         1                                        92.0
         1                                        93.0
...                                                ...
2023 12  31                                       40.0
         31                                       39.0
         31                                       40.0
         31                                       52.0
         31                                        NaN

              UMIDADE RELATIVA DO AR, HORARIA (%)  \
Ano  Mês Dia
2003 1   1                                   94.0
         1                                   92.0
         1                                   93.0
         1                                   95.0
         1                                   94.0
...                                           ...
2023 12  31                                  41.0
         31                                  40.0
         31                                  53.0
         31                                  59.0
         31                                   NaN

              VENTO, DIREÇO HORARIA (gr) (ø (gr)) VENTO, RAJADA MAXIMA (m/s)  \
Ano  Mês Dia
2003 1   1                                 -9999.0                      -9999
         1                                 -9999.0                      -9999
         1                                 -9999.0                      -9999
         1                                 -9999.0                      -9999
         1                                 -9999.0                      -9999
...                                            ...                        ...
2023 12  31                                  320.0                        6,6
         31                                  339.0                          7
         31                                  105.0                          6
         31                                   96.0                          4
         31                                    NaN                        NaN

             VENTO, VELOCIDADE HORARIA (m/s)
Ano  Mês Dia
2003 1   1                             -9999
         1                             -9999
         1                             -9999
         1                             -9999
         1                             -9999
...                                      ...
2023 12  31                                3
         31                              3,4
         31                                2
         31                              1,5
         31                              NaN

[26280 rows x 18 columns]

2. Construa um novo DataFrame modificando o anterior para utiliza um MultiIndex como colunas contendo os parâmetros agrupados (precipitações, pressão, radiação, temperatura, umidade, velocidade do vento )

In [91]:
df_concat.columns.tolist()
colunas = [('HORA (UTC)',''),
 ('PRECIPITAÇÃO','PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'),
 ('PRESSAO','PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)'),
 ('PRESSAO','PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)'),
 ('PRESSAO','PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)'),
 ('RADIACAO','RADIACAO GLOBAL (KJ/mý)'),
 ('TEMPERATURA','TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)'),
 ('TEMPERATURA','TEMPERATURA DO PONTO DE ORVALHO (øC)'),
 ('TEMPERATURA','TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC)'),
 ('TEMPERATURA','TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC)'),
 ('TEMPERATURA','TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC)'),
 ('TEMPERATURA','TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC)'),
 ('UMIDADE','UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'),
 ('UMIDADE','UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)'),
 ('UMIDADE','UMIDADE RELATIVA DO AR, HORARIA (%)'),
 ('VENTO','VENTO, DIRE\x80ÇO HORARIA (gr) (ø (gr))'),
 ('VENTO','VENTO, RAJADA MAXIMA (m/s)'),
 ('VENTO','VENTO, VELOCIDADE HORARIA (m/s)')]

#tuples1 = [df_concat{'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'}],
df_concat.columns = pd.MultiIndex.from_tuples(colunas)
df_concat

             HORA (UTC)                     PRECIPITAÇÃO  \
                        PRECIPITAÇÃO TOTAL, HORÁRIO (mm)
Ano  Mês Dia
2003 1   1        00:00                            -9999
         1        01:00                            -9999
         1        02:00                            -9999
         1        03:00                            -9999
         1        04:00                            -9999
...                 ...                              ...
2023 12  31    1900 UTC                                0
         31    2000 UTC                                0
         31    2100 UTC                                0
         31    2200 UTC                                0
         31    2300 UTC                              NaN

                                                           PRESSAO  \
             PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)
Ano  Mês Dia
2003 1   1                                                -9999
         1                                                -9999
         1                                                -9999
         1                                                -9999
         1                                                -9999
...                                                         ...
2023 12  31                                               987,4
         31                                               986,7
         31                                               986,8
         31                                               986,9
         31                                                 NaN

                                                              \
             PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)
Ano  Mês Dia
2003 1   1                                             -9999
         1                                             -9999
         1                                             -9999
         1                                             -9999
         1                                             -9999
...                                                      ...
2023 12  31                                            988,8
         31                                            987,4
         31                                            986,8
         31                                              987
         31                                              NaN

                                                               \
             PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)
Ano  Mês Dia
2003 1   1                                              -9999
         1                                              -9999
         1                                              -9999
         1                                              -9999
         1                                              -9999
...                                                       ...
2023 12  31                                             987,4
         31                                             986,7
         31                                             986,6
         31                                             986,8
         31                                               NaN

                            RADIACAO  \
             RADIACAO GLOBAL (KJ/mý)
Ano  Mês Dia
2003 1   1                     -9999
         1                     -9999
         1                     -9999
         1                     -9999
         1                     -9999
...                              ...
2023 12  31                   2575,3
         31                   1760,8
         31                   1127,5
         31                    490,1
         31                      NaN

                                              TEMPERATURA  \
             TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)
Ano  Mês Dia
2003 1   1                                           24,3
         1                                           24,7
         1                                           24,4
         1                                           24,1
         1                                           24,5
...                                                   ...
2023 12  31                                          34,4
         31                                          33,4
         31                                          32,5
         31                                          30,8
         31                                           NaN

                                                   \
             TEMPERATURA DO PONTO DE ORVALHO (øC)
Ano  Mês Dia
2003 1   1                                   23,3
         1                                   23,3
         1                                   23,2
         1                                   23,2
         1                                   23,4
...                                           ...
2023 12  31                                  19,4
         31                                    18
         31                                  21,8
         31                                  21,8
         31                                   NaN

                                                         \
             TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC)
Ano  Mês Dia
2003 1   1                                         24,7
         1                                         24,7
         1                                         24,7
         1                                         24,9
         1                                         24,6
...                                                 ...
2023 12  31                                        35,2
         31                                          35
         31                                        33,9
         31                                        32,7
         31                                         NaN

                                                         \
             TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC)
Ano  Mês Dia
2003 1   1                                         24,3
         1                                         24,3
         1                                         24,4
         1                                         24,1
         1                                         24,1
...                                                 ...
2023 12  31                                        33,9
         31                                        33,3
         31                                        32,1
         31                                        30,8
         31                                         NaN

                                                               \
             TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC)
Ano  Mês Dia
2003 1   1                                               23,4
         1                                               23,4
         1                                               23,4
         1                                               23,5
         1                                               23,5
...                                                       ...
2023 12  31                                              20,6
         31                                              19,7
         31                                                22
         31                                              21,9
         31                                               NaN

                                                               \
             TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC)
Ano  Mês Dia
2003 1   1                                              -9999
         1                                              -9999
         1                                              -9999
         1                                              -9999
         1                                              -9999
...                                                       ...
2023 12  31                                              19,1
         31                                              17,9
         31                                                18
         31                                              21,3
         31                                               NaN

                                              UMIDADE  \
             UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)
Ano  Mês Dia
2003 1   1                                       94.0
         1                                       94.0
         1                                       93.0
         1                                       95.0
         1                                       95.0
...                                               ...
2023 12  31                                      45.0
         31                                      42.0
         31                                      55.0
         31                                      59.0
         31                                       NaN

                                                       \
             UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)
Ano  Mês Dia
2003 1   1                                       92.0
         1                                       92.0
         1                                       91.0
         1                                       92.0
         1                                       93.0
...                                               ...
2023 12  31                                      40.0
         31                                      39.0
         31                                      40.0
         31                                      52.0
         31                                       NaN

                                                  \
             UMIDADE RELATIVA DO AR, HORARIA (%)
Ano  Mês Dia
2003 1   1                                  94.0
         1                                  92.0
         1                                  93.0
         1                                  95.0
         1                                  94.0
...                                          ...
2023 12  31                                 41.0
         31                                 40.0
         31                                 53.0
         31                                 59.0
         31                                  NaN

                                            VENTO                             \
             VENTO, DIREÇO HORARIA (gr) (ø (gr)) VENTO, RAJADA MAXIMA (m/s)
Ano  Mês Dia
2003 1   1                                -9999.0                      -9999
         1                                -9999.0                      -9999
         1                                -9999.0                      -9999
         1                                -9999.0                      -9999
         1                                -9999.0                      -9999
...                                           ...                        ...
2023 12  31                                 320.0                        6,6
         31                                 339.0                          7
         31                                 105.0                          6
         31                                  96.0                          4
         31                                   NaN                        NaN


             VENTO, VELOCIDADE HORARIA (m/s)
Ano  Mês Dia
2003 1   1                             -9999
         1                             -9999
         1                             -9999
         1                             -9999
         1                             -9999
...                                      ...
2023 12  31                                3
         31                              3,4
         31                                2
         31                              1,5
         31                              NaN

[26280 rows x 18 columns]

__Exercício 3: Analisando os DataFrame__

*  Com base nos três ``DataFrame`` carregados:
1. Analisando as colunas relacionadas e precipitações e temperaturas, compare as médias, os valores mínimos e máximos em cada um dos anos.