# Exercício 1: Carregando e analisando um DataSet

## Dados Estação Cuiabá 2003

In [1]:
import pandas as pd

# Carrega o arquivo csv

dataframe2003 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2003_A_31-12-2003.CSV', sep=';', encoding='ISO-8859-1' , decimal = ',')

# Exibe os primeiros registros do dataframe
dataframe2003.head()
#dataframe2003

,DATA,HORA (UTC),"PRECIPITAÇÃO TOTAL, HORÁRIO (MM)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2003,00:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,24.3,23.3,24.7,24.3,23.4,-9999.0,94,92,94,-9999,-9999.0,-9999.0
1,01/01/2003,01:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,24.7,23.3,24.7,24.3,23.4,-9999.0,94,92,92,-9999,-9999.0,-9999.0
2,01/01/2003,02:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,24.4,23.2,24.7,24.4,23.4,-9999.0,93,91,93,-9999,-9999.0,-9999.0
3,01/01/2003,03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,24.1,23.2,24.9,24.1,23.5,-9999.0,95,92,95,-9999,-9999.0,-9999.0
4,01/01/2003,04:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,24.5,23.4,24.6,24.1,23.5,-9999.0,95,93,94,-9999,-9999.0,-9999.0

## Dados Estação Cuiabá 2013

In [2]:
# Carregar o arquivo csv

dataframe2013 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2013_A_31-12-2013.CSV', sep=';', encoding='ISO-8859-1', decimal = ',')

# Exibe os primeiros registros do dataframe
dataframe2013.head()

,DATA,HORA (UTC),"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2013,00:00,0.4,983.5,983.5,982.1,-9999.0,26.1,21.9,28.1,26.1,22.0,20.7,78,64,78,145,4.3,2.1
1,01/01/2013,01:00,1.2,983.9,984.0,983.5,-9999.0,24.7,22.7,26.1,24.5,22.9,22.2,89,78,89,184,4.0,1.4
2,01/01/2013,02:00,0.4,984.4,984.5,983.9,-9999.0,24.5,22.8,24.9,24.5,23.2,22.5,91,88,91,247,3.7,1.6
3,01/01/2013,03:00,0.0,984.9,985.0,984.4,-9999.0,24.4,22.9,24.5,24.2,22.9,22.5,92,90,92,98,3.5,1.9
4,01/01/2013,04:00,0.0,984.3,984.9,984.3,-9999.0,24.4,22.9,24.4,24.2,23.0,22.8,92,91,91,123,3.5,1.2

# Dados Estação Cuiabá 2023

In [3]:
# Carregar o arquivo csv

dataframe2023 = pd.read_csv('./datasets/INMET_CO_MT_A901_CUIABA_01-01-2023_A_31-12-2023.CSV', sep=';', encoding='ISO-8859-1', decimal = ',')

# Exibe os primeiros registros do dataframe
dataframe2023.head()

,DATA,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/2023,0000 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2023,0100 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2023,0200 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2023,0300 UTC,0.0,990.5,990.5,990.4,NaN,27.5,20.6,27.9,27.5,20.6,20.2,66.0,63.0,66.0,NaN,NaN,NaN
4,01/01/2023,0400 UTC,0.0,990.2,990.5,990.2,NaN,27.3,20.2,27.8,27.3,20.7,20.2,66.0,65.0,65.0,NaN,NaN,NaN

In [4]:
type(dataframe2003)

pandas.core.frame.DataFrame

In [5]:
dataframe2003.shape

(8760, 19)

In [6]:
#Renomeando coluna do datasets
dataframe2023.rename(columns={'Hora UTC':'HORA (UTC)', 'RADIACAO GLOBAL (Kj/mý)': 'RADIACAO GLOBAL (KJ/mý)'}, inplace=True)
dataframe2003.rename(columns={'PRECIPITAÇÃO TOTAL, HORÁRIO (MM)': 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'},inplace=True)

In [7]:
#Convertendo coluna DATA para datetime
dataframe2003['DATA'] = pd.to_datetime(dataframe2003['DATA'], format='%d/%m/%Y', errors='coerce').dt.strftime('%Y/%m/%d')
dataframe2013['DATA'] = pd.to_datetime(dataframe2013['DATA'], format='%d/%m/%Y', errors='coerce').dt.strftime('%Y/%m/%d')
dataframe2023['DATA'] = pd.to_datetime(dataframe2023['DATA'], format='%d/%m/%Y', errors='coerce').dt.strftime('%Y/%m/%d')

In [8]:
#Tratando HORA (UTC)
dataframe2023['HORA (UTC)'] = dataframe2023['HORA (UTC)'].str.rstrip(' UTC').str.slice_replace(2, 2, ':')
dataframe2023

,DATA,HORA (UTC),"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/mý),"TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)",TEMPERATURA DO PONTO DE ORVALHO (øC),TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC),TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇO HORARIA (gr) (ø (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,2023/01/01,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023/01/01,01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023/01/01,02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023/01/01,03:00,0.0,990.5,990.5,990.4,NaN,27.5,20.6,27.9,27.5,20.6,20.2,66.0,63.0,66.0,NaN,NaN,NaN
4,2023/01/01,04:00,0.0,990.2,990.5,990.2,NaN,27.3,20.2,27.8,27.3,20.7,20.2,66.0,65.0,65.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2023/12/31,19:00,0.0,987.4,988.8,987.4,2575.3,34.4,19.4,35.2,33.9,20.6,19.1,45.0,40.0,41.0,320.0,6.6,3.0
8756,2023/12/31,20:00,0.0,986.7,987.4,986.7,1760.8,33.4,18.0,35.0,33.3,19.7,17.9,42.0,39.0,40.0,339.0,7.0,3.4
8757,2023/12/31,21:00,0.0,986.8,986.8,986.6,1127.5,32.5,21.8,33.9,32.1,22.0,18.0,55.0,40.0,53.0,105.0,6.0,2.0
8758,2023/12/31,22:00,0.0,986.9,987.0,986.8,490.1,30.8,21.8,32.7,30.8,21.9,21.3,59.0,52.0,59.0,96.0,4.0,1.5
8759,2023/12/31,23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_concat = pd.concat([dataframe2003, dataframe2013, dataframe2023])
df_concat['DATA'] = pd.to_datetime(df_concat['DATA'])  
df_concat['Ano'] = df_concat['DATA'].dt.year
df_concat['Mês'] = df_concat['DATA'].dt.month
df_concat['Dia'] = df_concat['DATA'].dt.day

multiIndex = pd.MultiIndex.from_frame(df_concat[['Ano', 'Mês', 'Dia']])

df_concat.set_index(multiIndex, inplace=True)
df_concat.drop('DATA', axis=1, inplace=True)
df_concat = df_concat.iloc[:, :-3]

df_concat.columns.to_list()

['HORA (UTC)',
 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)',
 'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)',
 'PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
 'PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
 'RADIACAO GLOBAL (KJ/mý)',
 'TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)',
 'TEMPERATURA DO PONTO DE ORVALHO (øC)',
 'TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC)',
 'TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC)',
 'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC)',
 'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC)',
 'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
 'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
 'UMIDADE RELATIVA DO AR, HORARIA (%)',
 'VENTO, DIRE\x80ÇO HORARIA (gr) (ø (gr))',
 'VENTO, RAJADA MAXIMA (m/s)',
 'VENTO, VELOCIDADE HORARIA (m/s)']

2. Construa um novo DataFrame modificando o anterior para utiliza um MultiIndex como colunas contendo os parâmetros agrupados (precipitações, pressão, radiação, temperatura, umidade, velocidade do vento )

In [10]:
df_concat.columns.tolist()
colunas = [
    ('HORA (UTC)',''),
 ('PRECIPITAÇÃO','PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'),
 ('PRESSAO','PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)'),
 ('PRESSAO','PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)'),
 ('PRESSAO','PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)'),
 ('RADIACAO','RADIACAO GLOBAL (KJ/mý)'),
 ('TEMPERATURA','TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)'),
 ('TEMPERATURA','TEMPERATURA DO PONTO DE ORVALHO (øC)'),
 ('TEMPERATURA','TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC)'),
 ('TEMPERATURA','TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC)'),
 ('TEMPERATURA','TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC)'),
 ('TEMPERATURA','TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC)'),
 ('UMIDADE','UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'),
 ('UMIDADE','UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)'),
 ('UMIDADE','UMIDADE RELATIVA DO AR, HORARIA (%)'),
 ('VENTO','VENTO, DIRE\x80ÇO HORARIA (gr) (ø (gr))'),
 ('VENTO','VENTO, RAJADA MAXIMA (m/s)'),
 ('VENTO','VENTO, VELOCIDADE HORARIA (m/s)')]

df_concat.columns = pd.MultiIndex.from_tuples(colunas)

df_concat

             HORA (UTC)                     PRECIPITAÇÃO  \
                        PRECIPITAÇÃO TOTAL, HORÁRIO (mm)
Ano  Mês Dia
2003 1   1        00:00                          -9999.0
         1        01:00                          -9999.0
         1        02:00                          -9999.0
         1        03:00                          -9999.0
         1        04:00                          -9999.0
...                 ...                              ...
2023 12  31       19:00                              0.0
         31       20:00                              0.0
         31       21:00                              0.0
         31       22:00                              0.0
         31       23:00                              NaN

                                                           PRESSAO  \
             PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)
Ano  Mês Dia
2003 1   1                                              -9999.0
         1                                              -9999.0
         1                                              -9999.0
         1                                              -9999.0
         1                                              -9999.0
...                                                         ...
2023 12  31                                               987.4
         31                                               986.7
         31                                               986.8
         31                                               986.9
         31                                                 NaN

                                                              \
             PRESSÇO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)
Ano  Mês Dia
2003 1   1                                           -9999.0
         1                                           -9999.0
         1                                           -9999.0
         1                                           -9999.0
         1                                           -9999.0
...                                                      ...
2023 12  31                                            988.8
         31                                            987.4
         31                                            986.8
         31                                            987.0
         31                                              NaN

                                                               \
             PRESSÇO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)
Ano  Mês Dia
2003 1   1                                            -9999.0
         1                                            -9999.0
         1                                            -9999.0
         1                                            -9999.0
         1                                            -9999.0
...                                                       ...
2023 12  31                                             987.4
         31                                             986.7
         31                                             986.6
         31                                             986.8
         31                                               NaN

                            RADIACAO  \
             RADIACAO GLOBAL (KJ/mý)
Ano  Mês Dia
2003 1   1                   -9999.0
         1                   -9999.0
         1                   -9999.0
         1                   -9999.0
         1                   -9999.0
...                              ...
2023 12  31                   2575.3
         31                   1760.8
         31                   1127.5
         31                    490.1
         31                      NaN

                                              TEMPERATURA  \
             TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)
Ano  Mês Dia
2003 1   1                                           24.3
         1                                           24.7
         1                                           24.4
         1                                           24.1
         1                                           24.5
...                                                   ...
2023 12  31                                          34.4
         31                                          33.4
         31                                          32.5
         31                                          30.8
         31                                           NaN

                                                   \
             TEMPERATURA DO PONTO DE ORVALHO (øC)
Ano  Mês Dia
2003 1   1                                   23.3
         1                                   23.3
         1                                   23.2
         1                                   23.2
         1                                   23.4
...                                           ...
2023 12  31                                  19.4
         31                                  18.0
         31                                  21.8
         31                                  21.8
         31                                   NaN

                                                         \
             TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC)
Ano  Mês Dia
2003 1   1                                         24.7
         1                                         24.7
         1                                         24.7
         1                                         24.9
         1                                         24.6
...                                                 ...
2023 12  31                                        35.2
         31                                        35.0
         31                                        33.9
         31                                        32.7
         31                                         NaN

                                                         \
             TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC)
Ano  Mês Dia
2003 1   1                                         24.3
         1                                         24.3
         1                                         24.4
         1                                         24.1
         1                                         24.1
...                                                 ...
2023 12  31                                        33.9
         31                                        33.3
         31                                        32.1
         31                                        30.8
         31                                         NaN

                                                               \
             TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC)
Ano  Mês Dia
2003 1   1                                               23.4
         1                                               23.4
         1                                               23.4
         1                                               23.5
         1                                               23.5
...                                                       ...
2023 12  31                                              20.6
         31                                              19.7
         31                                              22.0
         31                                              21.9
         31                                               NaN

                                                               \
             TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC)
Ano  Mês Dia
2003 1   1                                            -9999.0
         1                                            -9999.0
         1                                            -9999.0
         1                                            -9999.0
         1                                            -9999.0
...                                                       ...
2023 12  31                                              19.1
         31                                              17.9
         31                                              18.0
         31                                              21.3
         31                                               NaN

                                              UMIDADE  \
             UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)
Ano  Mês Dia
2003 1   1                                       94.0
         1                                       94.0
         1                                       93.0
         1                                       95.0
         1                                       95.0
...                                               ...
2023 12  31                                      45.0
         31                                      42.0
         31                                      55.0
         31                                      59.0
         31                                       NaN

                                                       \
             UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)
Ano  Mês Dia
2003 1   1                                       92.0
         1                                       92.0
         1                                       91.0
         1                                       92.0
         1                                       93.0
...                                               ...
2023 12  31                                      40.0
         31                                      39.0
         31                                      40.0
         31                                      52.0
         31                                       NaN

                                                  \
             UMIDADE RELATIVA DO AR, HORARIA (%)
Ano  Mês Dia
2003 1   1                                  94.0
         1                                  92.0
         1                                  93.0
         1                                  95.0
         1                                  94.0
...                                          ...
2023 12  31                                 41.0
         31                                 40.0
         31                                 53.0
         31                                 59.0
         31                                  NaN

                                            VENTO                             \
             VENTO, DIREÇO HORARIA (gr) (ø (gr)) VENTO, RAJADA MAXIMA (m/s)
Ano  Mês Dia
2003 1   1                                -9999.0                    -9999.0
         1                                -9999.0                    -9999.0
         1                                -9999.0                    -9999.0
         1                                -9999.0                    -9999.0
         1                                -9999.0                    -9999.0
...                                           ...                        ...
2023 12  31                                 320.0                        6.6
         31                                 339.0                        7.0
         31                                 105.0                        6.0
         31                                  96.0                        4.0
         31                                   NaN                        NaN


             VENTO, VELOCIDADE HORARIA (m/s)
Ano  Mês Dia
2003 1   1                           -9999.0
         1                           -9999.0
         1                           -9999.0
         1                           -9999.0
         1                           -9999.0
...                                      ...
2023 12  31                              3.0
         31                              3.4
         31                              2.0
         31                              1.5
         31                              NaN

[26280 rows x 18 columns]

In [11]:
# Substituir os valores indesejados por None
coluna_precipitacao = df_concat['PRECIPITAÇÃO','PRECIPITAÇÃO TOTAL, HORÁRIO (mm)']
coluna_precipitacao.replace({0: None, -9999.0: None}, inplace=True)

__Exercício 3: Analisando os DataFrame__

*  Com base nos três ``DataFrame`` carregados:
1. Analisando as colunas relacionadas e precipitações e temperaturas, compare as médias, os valores mínimos e máximos em cada um dos anos.

In [12]:
df_concat.groupby('Ano')['PRECIPITAÇÃO'].aggregate(['min', 'mean', 'max'])

                         PRECIPITAÇÃO
     PRECIPITAÇÃO TOTAL, HORÁRIO (mm)
                                  min      mean   max
Ano
2003                              0.2  2.390634  31.0
2013                              0.2  2.595893  59.0
2023                              0.2  2.708021  41.2

In [13]:
df_concat.groupby('Ano')['TEMPERATURA'].aggregate(['min', 'mean', 'max'])

                                      TEMPERATURA                    \
     TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)
                                              min        mean   max
Ano
2003                                      -9999.0 -226.843276  38.9
2013                                      -9999.0    3.430765  39.2
2023                                         10.0   28.599459  43.2

                                                             \
     TEMPERATURA DO PONTO DE ORVALHO (øC)
                                      min        mean   max
Ano
2003                              -9999.0 -233.445091  24.9
2013                              -9999.0   -4.227865  25.2
2023                                  3.8   17.604061  24.3

                                                                   \
     TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC)
                                            min        mean   max
Ano
2003                                    -9999.0 -226.209954  39.2
2013                                    -9999.0    4.034395  39.8
2023                                       10.2   29.279461  43.3

                                                                   \
     TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC)
                                            min        mean   max
Ano
2003                                    -9999.0 -227.462511  38.0
2013                                    -9999.0    2.861404  37.7
2023                                        9.9   27.935143  42.0

                                                                         \
     TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC)
                                                  min        mean   max
Ano
2003                                          -9999.0 -232.924578  25.7
2013                                          -9999.0   -3.738413  25.8
2023                                              5.0   18.147457  24.9


     TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC)
                                                  min        mean   max
Ano
2003                                          -9999.0 -606.892169  24.2
2013                                          -9999.0   -4.703984  24.0
2023                                              2.9   17.089496  23.5

2. Compare os mesmos dados do exercício anterior mas para o mes de Janeiro de cada um dos três anos.

In [14]:
df_concat[['PRECIPITAÇÃO']].groupby(['Ano', 'Mês']).aggregate(['min', 'mean', 'max']).query('Mês == 1')

                             PRECIPITAÇÃO
         PRECIPITAÇÃO TOTAL, HORÁRIO (mm)
                                      min      mean   max
Ano  Mês
2003 1                                0.2  1.858824  13.6
2013 1                                0.2  2.349367  18.0
2023 1                                0.2   3.59403  41.2

In [15]:
df_concat[['TEMPERATURA']].groupby(['Ano', 'Mês']).aggregate(['min', 'mean', 'max']).query('Mês == 1')

                                          TEMPERATURA                   \
         TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)
                                                  min       mean   max
Ano  Mês
2003 1                                           22.7  26.809274  35.8
2013 1                                           22.7  26.451613  34.7
2023 1                                           22.1  27.461085  35.5

                                                                \
         TEMPERATURA DO PONTO DE ORVALHO (øC)
                                          min       mean   max
Ano  Mês
2003 1                                   20.1  22.842204  24.9
2013 1                                   18.5  22.298790  25.2
2023 1                                   12.8  20.190853  23.0

                                                                      \
         TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC)
                                                min       mean   max
Ano  Mês
2003 1                                         23.2  27.311156  35.8
2013 1                                         22.8  26.955780  35.0
2023 1                                         22.4  28.054264  35.8

                                                                      \
         TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC)
                                                min       mean   max
Ano  Mês
2003 1                                         22.5  26.307527  35.2
2013 1                                         22.4  25.956183  33.3
2023 1                                         22.0  26.847907  34.2

                                                                            \
         TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC)
                                                      min       mean   max
Ano  Mês
2003 1                                               21.0  23.276747  25.7
2013 1                                               19.4  22.739382  25.8
2023 1                                               13.8  20.747597  23.7


         TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC)
                                                      min         mean   max
Ano  Mês
2003 1                                            -9999.0 -4368.790457  23.9
2013 1                                               17.9    21.854570  24.0
2023 1                                               12.3    19.705891  22.4

3. Considere uma aproximação para as estações do ano no brasil dada por: Verão (Janeiro, Fevereiro e Março), Outono (Abril, Maio e Junho), Inverno (Julho, Agosto e Setembro) Primavera (Outubro, Novembro e Dezembro). Compare as informações sobre temperatura e precipitações medias em cada uma das estações dos três anos.

In [17]:
estacoes = {1: "verao", 2: "verao", 3:'verao', 
            4:'outono', 5:'outono', 6:'outono', 
            7:'inverno', 8:'inverno', 9:'inverno', 
            10:'primavera', 11:'primavera', 12:'primavera'}

precip_tempe_concat = df_concat[['PRECIPITAÇÃO', 'TEMPERATURA']].groupby(['Mês']).mean().groupby(estacoes).mean()
precip_tempe_concat

                              PRECIPITAÇÃO  \
          PRECIPITAÇÃO TOTAL, HORÁRIO (mm)
Mês
inverno                           2.626316
outono                             2.32003
primavera                          2.94215
verao                             2.470265

                                           TEMPERATURA  \
          TEMPERATURA DO AR - BULBO SECO, HORARIA (øC)
Mês
inverno                                      26.891664
outono                                       16.392616
primavera                                  -327.458040
verao                                        -2.704887

                                                \
          TEMPERATURA DO PONTO DE ORVALHO (øC)
Mês
inverno                              13.610029
outono                                9.589716
primavera                          -335.360893
verao                                -7.864499

                                                      \
          TEMPERATURA MµXIMA NA HORA ANT. (AUT) (øC)
Mês
inverno                                    27.656048
outono                                     17.007434
primavera                                -327.902371
verao                                      -2.153126

                                                      \
          TEMPERATURA MÖNIMA NA HORA ANT. (AUT) (øC)
Mês
inverno                                    26.161305
outono                                     15.806038
primavera                                -329.113936
verao                                      -3.248054

                                                            \
          TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (øC)
Mês
inverno                                          14.161840
outono                                           10.087961
primavera                                      -335.897797
verao                                            -7.362658


          TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (øC)
Mês
inverno                                          13.072779
outono                                            9.126143
primavera                                      -336.917605
verao                                          -518.894414